  <ion-view>
      <ion-app>
         <body ng-app="myApp">
             <div> LOGIN: <br>
                <label>ID Usuario</label>                                  
                    <input type="text" placeholder=""  ng-model="data.correo">Correo </input>
                <label>CLAVE</label>
                    <input type="password" placeholder="" ng-model="data.clave" >Clave </input> 
               
               <button class="button button-royal" ng-click="datos()">LOGIN</button> 
           </div>
        </body>
    </ion-app>
  </<ion-view>>      
    